.classContainer {
  padding: 10px;
}

.title {
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.classes {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(117, 117, 117);
}

.classesInfos {
  display: flex;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
}
