.professorContainer {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.classes {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.classe {
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(117, 117, 117);
}